html {
  background-color: #f1f2f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #f1f2f2;
}

/*********************************************** Navigation App Bar ******************************************/
.MuiAppBar-colorPrimary {
  background-color: #15202b !important;
}
.Login-Button {
  border: 0px solid #e5ebf0 !important;
  color: #e5ebf0 !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
}

.Login-button:hover {
  color: #58cbf4;
}

.mobile-nav {
  display: flex;
  padding: 0 !important;
}

.SignUp-Button {
  border: 1px solid #e5ebf0 !important;
  color: #e5ebf0 !important;
  /* 15202b */
}

.nav-horizent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-right {
  display: flex;
  padding: 9px;
  width: 30%;
  justify-content: space-around;
}

.nav-right a {
  color: azure;
  text-transform: capitalize;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 22px;
}

.nav-right a:hover {
  color: #f1da6d;
}
.nav-left {
  display: flex;
  padding-left: 0px;
}

/************************************************** blog cover **********************************************/
.blog-cover {
  height: 100vh;
  margin: 0 auto;
  background-image: url("./images/sa_twitter_python.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #58cbf4;
}

@media screen and (max-width: 500px) {
  .blog-cover {
    height: 50vh;
    margin: 0 auto;
    background-image: url("./images/sa_twitter_python.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #58cbf4;
  }
}

.home-cover {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .home-cover {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.home-cover h1 {
  color: #0c0c0c;
  font-family: "Roboto", Sans-serif;
  font-size: 40px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}
.home-cover > p {
  width: 80%;
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
  color: #616161;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.white {
  background-color: #58cbf4;
}

/*************************************************** Home Page ***********************************************/
.featuresList {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit,minmax(1fr 1fr,1fr)); */
  place-items: center;
  row-gap: 4rem;
}

@media screen and (max-width: 750px) {
  .featuresList {
    grid-template-columns: 1fr;
  }
}

.featureImg {
  object-fit: contain;
  object-position: center center;
  width: 90%;
}

.featureTxt {
  background-color: white;
  text-align: left;
  padding: 20px;
  border-left: 5px solid #3571a3;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
}
.featureTxt h2 {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 0;
  color: #444;
  font-family: nunito;
}

/*************************************************** Drawer ***********************************************/
.MuiDrawer-paper {
  background-color: #2f3640 !important;
  color: white !important;
}

.MuiDivider-root {
  background-color: white !important;
}

.Drawer-Logo {
  font-size: xx-large !important;
  padding: 9px 0px;
  color: #58cbf4;
  padding: 9px;
}

.makeStyles-menuButton-2 {
  margin-right: 0 !important;
}

.Side-Item {
  color: azure;
  margin-left: 20px;
  font-size: 1.1rem;
  transition: all 0.2s ease-out;
}

.Side-Item:hover {
  color: cyan;
  transform: scale(1.1);
}

.Desktop-hidden {
  display: none;
}

@media screen and (max-width: 920px) {
  .Desktop-hidden {
    display: block;
  }
}

/************************************** Form (Sign Up - Login) ***********************************************/

.blanc {
  background-color: #f1f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  padding: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.MuiButton-containedPrimary:hover {
  background-color: #00848c !important;
}

.MuiTypography-colorPrimary {
  color: #499bc1 !important;
}

#footer {
  background-color: #f1f2f2 !important;
}
#testmodel-card {
  display: flex;
  flex-direction: column;
}

#topicAnalysis-card {
  display: flex;
  flex-direction: column;
}
