#trend-container {
  margin-top: 20px;
  flex-grow: 1;
  display: inline-flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 0.6rem !important;
  width: 80%;
}
